<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>style</servlet-name>
        <servlet-class>Style</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>style</servlet-name>
        <url-pattern>/Style</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>userimage</servlet-name>
        <servlet-class>UserImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userimage</servlet-name>
        <url-pattern>/UserImage</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
